<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Express Start</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        {{{body}}}

        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js">
        </script>
        <script src="scripts.js">
        </script>
    </body>
</html>