<h1>hello world</h1>

<form id="new-todo">
    <label for="body">New Todo</label><br>
    <input type="text" name="body" />
    <button type="submit">Save</button>
</form>

<ul class="todo-list">
    {{#each todos}}
    <li>{{this.body}}</li>
    {{/each}}
</ul>